In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/boom-bikes-linear-regression/Readme.txt
/kaggle/input/boom-bikes-linear-regression/day.csv

In [2]:
#importing the libraries 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

import warnings
warnings.filterwarnings(action='ignore')

In [3]:
#importing & reading the dataset
base_dataset= pd.read_csv('/kaggle/input/boom-bikes-linear-regression/day.csv')
base_dataset.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

**After observing the dataset in excel & reading the data dictionary we can make the following observations about it**
1. Date column is in the DD/MM/YYYY format which is of no use in python so we will be splitting it into 3 columns 
2. Instant column can be dropped.
3. Season is a categorical variable but it is in a wrong format
4. Weekday assigns a numeric value to each day of the week starting from 0---Sunday ending 6---Saturday
5. Casual and registered together make up the cnt column which is our dependent variable.
   Note that these 2 columns cannot be used as they have a very high correlation with each other as 
   they sum up and form the cnt column.

In [4]:
#checking the number of rows and columns 
base_dataset.shape

(730, 16)

In [5]:
#checking if dataset has null values 
base_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    int64
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.4+ KB

**We can see from above output that pandas library is reading the categorical variables like season, month, weathersit as numerical values and this cannot be the case as it will affect our model**

**Hence, first we typecast these columns to string type and convert them into categorical columns which we can interpret later after the model is built**

In [6]:
 base_dataset.loc[(base_dataset['season']==1),'season'] = 'spring' #assigning string values to spring season as per data dictionary

In [7]:
base_dataset.loc[(base_dataset['season']==2),'season'] = 'summer'
base_dataset.loc[(base_dataset['season']==3),'season'] = 'fall'
base_dataset.loc[(base_dataset['season']==4),'season'] = 'winter' ##replicating above code to assign string value to seasons column

In [8]:
base_dataset['season'].value_counts() ##checking whether all seasons are converted

fall      188
summer    184
spring    180
winter    178
Name: season, dtype: int64

In [9]:
base_dataset.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [10]:
base_dataset['mnth'].value_counts()

1     62
3     62
5     62
7     62
8     62
10    62
12    62
4     60
6     60
9     60
11    60
2     56
Name: mnth, dtype: int64

Month column also needs to be converted into appropriate string values as pandas might consider it as numerical data and cause problems in the model building

In [11]:
#We define a function to map values 1 to 12 to Jan to Dec and pply it to the month column
def monthmap(x):
    return x.map({1:'Jan',2:'Feb',3:'March',4:'Apr',5:'May',6:'June',7:'July',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})
base_dataset[['mnth']] = base_dataset[['mnth']].apply(monthmap)
base_dataset.head()                            ##checking the conversions

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,Jan,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,Jan,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,spring,0,Jan,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,spring,0,Jan,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,spring,0,Jan,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [12]:
##Also need to convert values in weekday to the proper catwgorical string values, same code can be used
def weekmap(x):
     return x.map({1:'mon',2:'tues',3:'wed',4:'thurs',5:'fri',6:'sat',0:'sun'})
base_dataset[['weekday']] = base_dataset[['weekday']].apply(weekmap)

In [13]:
base_dataset.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,Jan,0,sat,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,Jan,0,sun,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,spring,0,Jan,0,mon,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,spring,0,Jan,0,tues,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,spring,0,Jan,0,wed,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

Weathersit column meaning is as follows
- 1: Clear, Few clouds, Partly cloudy, Partly cloudy
- 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
- 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
- 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog

We replace these 1,2,3,4 Numeric values by A,B,C,D

In [14]:
def weathermap(x):
    return x.map({1:'A',2:'B',3:'C',4:'D'}) #define a function to apply values
base_dataset[['weathersit']] = base_dataset[['weathersit']].apply(weathermap) 

base_dataset.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,Jan,0,sat,0,B,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,Jan,0,sun,0,B,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,spring,0,Jan,0,mon,1,A,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,spring,0,Jan,0,tues,1,A,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,spring,0,Jan,0,wed,1,A,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [15]:
base_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    object
 3   yr          730 non-null    int64
 4   mnth        730 non-null    object
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    object
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    object
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(7), object(5)
memory usage: 91.4+ KB

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7fb599d00fd0>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/sweetviz/